<nav id="my-menu">
    <div>
        <p>{{ site.title }}</p>

        <ul class="pages">
            <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>

            <li><a href="{{ site.baseurl }}/javascript/"><i class="fa fa-archive"></i> Javascript</a></li>
            <li><a href="{{ site.baseurl }}/node/"><i class="fa fa-archive"></i> Node</a></li>
            <li><a href="{{ site.baseurl }}/emacs/"><i class="fa fa-archive"></i> Emacs</a></li>
            <li><a href="{{ site.baseurl }}/testing/"><i class="fa fa-archive"></i> Testing</a></li>
            <li><a href="{{ site.baseurl }}/voice/"><i class="fa fa-archive"></i> Voice Coding</a></li>

            <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> All Posts</a></li>

            <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
        </ul>

        {% include social_links.html %}
    </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
